<script lang="ts">
	import Coordinates from '../entities/coordinates';
	import PermissionService from '../services/permission.service';
	import { onMount } from 'svelte';

	let currentOrientation;
	let lastOrientation;
	let lapCount = 0;
	let isIOS;
	let angleToTarget;

	onMount(async () => {
		isIOS =
			navigator.userAgent.match(/(iPod|iPhone|iPad)/) && navigator.userAgent.match(/AppleWebKit/);

		navigator.geolocation.getCurrentPosition(handleChangePosition);

		if (isIOS) {
			try {
				await PermissionService.requestDeviceOrientationAccess();
			} catch (e) {
				alert(e);
			}

			window.addEventListener('deviceorientation', handleChangeOrientation, true);
		}

		window.addEventListener('deviceorientationabsolute', handleChangeOrientation, true);
	});

	function handleChangePosition(position: GeolocationPosition) {
		const coordinates = new Coordinates(position.coords);

		// Eiffel tower coordinates
		// TODO replace with api call
		angleToTarget = coordinates.getAngleToTarget(48.858072, 2.294115);

		if (angleToTarget < 0) angleToTarget = angleToTarget + 360;
	}

	function handleChangeOrientation(e: DeviceOrientationEvent) {
		lastOrientation = currentOrientation;
		currentOrientation = e['webkitCompassHeading'] || Math.abs(e.alpha - 360);

		if (lastOrientation > 300 && currentOrientation < 60) lapCount++;
		if (lastOrientation < 60 && currentOrientation > 300) lapCount--;
	}

	$: beerRotation = currentOrientation - angleToTarget + lapCount * 360;
</script>

<div class="compass">
	<div class="compass-circle" style="transform: translate(-50%, -50%) rotate({-beerRotation}deg)" />
</div>

<style>
	.compass {
		position: relative;
		width: 320px;
		height: 320px;
		border-radius: 50%;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		margin: auto;
	}

	.compass > .compass-circle {
		position: absolute;
		width: 80%;
		height: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.1s ease-out;
		background: url('beer.png') center no-repeat;
		background-size: contain;
	}
</style>
