<script lang="ts">
	import '../app.css';
</script>

<header>
	North Star
</header>

<main>
	<slot />
</main>

<footer>
	Your guiding light
</footer>

<style>
	header {
		padding: 1rem;
		display: grid;
		place-items: center;
		font-weight: bold;
	}

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 40px;
	}
</style>
