<script lang="ts">
	import Compass from '$lib/compass.svelte';
</script>

<svelte:head>
	<title>Home sweet home</title>
</svelte:head>

<div class="content">
	<Compass/>
</div>

<style>
	.content {
		width: 100%;
		max-width: let(--column-width);
		margin: let(--column-margin-top) auto 0 auto;
	}
</style>
